* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(30, 30, 119));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(30, 30, 119));
    border-bottom: 5px solid black;
}

/*updated the transitions in the header's nav to be smoother*/

.h1header {
    padding-top: 0px;
    font-size: 48px;
}

.navbar {
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
        transform: translateY(0);
        box-shadow: inset 0 0 60px whitesmoke, 0 0 50px #fff, 10px 0 80px #0ff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        opacity: .2;
        transition:  0.5s;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

p {
    font-size: 16px;
    overflow: auto;
}

/* need to make a literal box for about me */

.AboutMe {
    margin-top: 90px;
    padding-left: 10px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align:left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    overflow:auto;
}

.AboutMe div {
    display: inline;
}

.AboutMe h2 {
    margin-left: -9px;
    margin-top: 100px;
    font-size: 50px;
}

.MyFace-img {
    margin-left: 24px;
    width: 30%;
    height: auto;
}

.AboutMe p {
    width: 700px;
    padding: 10px;
    margin: 13px;
}

.Refractor {
    display: grid;
    width: 400px;
    height: 300px;
}

.Temporary {
    width: 400px;
    height:auto;
    /* display: table-column grid;
    justify-content: space-between; */
}

.Refractor:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    filter:blur(10px);
}

.Temporary:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    filter:blur(10px);
}

.Experience {
    width: 100%;
}

/* .TempBox-Full {
    display: flex;
    width: 100%;
    flex: 1 0 100%;
    padding: 10px;
} */

/* .TempBox-Small {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
} */

/* .TempBox img {
    float: right;
    width: 30%;
    height: auto;
} */

.Contact {
    border-top: 5px solid black;
    font-size: 50px;
    margin-left: 2px;
}

/* need to fix the flexbox containers for the images to fit properly*/

.footer {
    border-top: 5px solid black;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(30, 30, 119));
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    .AboutMe p {
        width: 100px;
        height: 114px;
        margin-left: 12px;
    }
    .about { width: 50%; }
    .about { width: 50%; }

}
